@import url('https://fonts.googleapis.com/css2?family=Montserrat+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(style.css);

* {
    margin: 0;
    padding: 0;

}

.area-cadastro {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    margin: 150px auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.area-formulario {
    display: flex;
    justify-content: center;
    width: 50vw;

}

.area-formulario>div {
    display: flex;
    gap: 30px;
    width: 50vw;

}

div {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.area-endereco {
    display: block;

}

input,
select {
    padding: 7px 0;
    margin-bottom: 8px;

}

.area-botao {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.area-botao {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#botao-cadastrar {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;

}

.titulo-campo {
    display: flex;
    flex-direction: column;

}

.formatacao {
    flex-direction: column;


}

form {
    width: 50vw;

}

.DDD,
.numero {
    width: 100px;

}

.cep {
    width: 200px;

}

input,
section {
    border-radius: 7px;
    padding: 10px;
    border: none;
    font-size: 1.1em;

}

@media(max-width:430px) {
    .area-cadastro {
        width: 100vw;
        margin-top: 8vw;
        background: none;
        color: var(--cor-principal)
    }

    .form {
        width: 85vw;
    }

    .formatacao {
        display: block;

    }

    .area-contato,
    .endereco-numero,
    .cidade-cep {
        flex-direction: row;

    }

    input,
    select {
        border: 2px solid var(--cor-principal);

    }

    .cep {
        width: 30vw;

    }

    #botao-cadastrar {
        background-color: var(--cor-principal);
        color: var(--cor-secundaria);

    }

    .link-login {
        color: var(--cor-principal);

    }

}