
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
}

header{
    background-color: #3B929C;
    width: 100%;
    height: 110px;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 95%;
    margin: auto;
}

ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    border: 2px solid #FFFFFF;
    padding: 10px;
    border-radius: 0 20px;
}

a:hover{
    background-color: #FFFFFF;
    color: #3B929C;

}
a:focus{
    background-color: #FFFFFF;
    color:#3B929C;

}
.icones{
    padding: 10px 50px; 
}

#banner{
    width: 1400px;
}

#banner__image{
    margin-top: 10px;
    width: 1400px;
}

#reservas{
    width: 1400px;
    height: 144px;
    border: 2px dashed #3B929C;
    color: #3B929C;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.area-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reservas__botao{
    padding: 20px 60px;
    color: #FFFFFF;
    font-size: 22px;
    background-color: #3B929C;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
}

#reservas__titulo{
    margin-top: 15px;

}

.area-sobre{
    display: flex;
    width: 1400px;
    margin:20px auto;
    justify-content: space-around;
}

.sobre{
    color: #3B929C;
    width: 500px;
}

.sobre__foto{
    width: 500px;
}
.sobre__titulo{
    margin-top: 30px;
    font-size: 50px;
}
 .sobre__texto{
    margin-top: 30px;
    font-size: 30px;
 }

 .area-busca{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .catalogo-titulo{
    font-size: 50px;
    color:#3B929C;
    margin-bottom: 50px;
 }

 .busca{
    display: flex;
    width: 764px;
    height: 40px;
    border: 3px solid #3B929C;
    border-radius: 20px;
    padding: 5px;
    justify-content: center;
 }
 .busca__campo{
    flex: 1 ;
    border: none;
    outline: none;
    font-size: 25px;
 }

 .busca__botao{
    font-size: 30px;
    border: none;
    color: #3B929C;
    background: none;
 }

 .bordados > a > img{
    width: 400px;
    border-radius: 20px;
 }

 .bordados{
    text-align: center;
 }

 .catalogo{
    margin:100px  auto;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

} 
#reservas__botao{
    background-color: #3B929C;
    color: #FFFFFF;

}