@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --cor-principal: #00B2FF;
    --cor-secundaria: #FFFF02;
    --cor-botao: #d9d9d9;
    --largura-principal: 1600px;

}


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

#home{
    scroll-margin-top: 110px;
}
#bordados{
    scroll-margin-top: 140px;
}

header {
    background-color:var(--cor-principal);
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 95%;
    margin: auto;

}

ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.icones{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 25px;
    border: 2px solid var(--cor-secundaria);
    padding: 10px;
    border-radius: 0 20px;
}

.icones:hover{
    background-color: var(--cor-botao);
    color: var(--cor-secundaria);
    border: none;
}

.icones:focus{
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

.icones{
    padding: 10px 50px; 
}


main{
    margin-top: 110px;
}


#banner{
    width: var(--largura-principal);
}

#banner__image{
    margin-top: 10px;
    width: var(--largura-principal);
}

#reservas {
    width: var(--largura-principal);
    height: 144px;
    border: 2px dashed var(--cor-principal);
    color: var(--cor-principal);
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.area-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reservas__botao{
    padding: 20px 60px;
    color: var(--cor-secundaria);
    font-size: 22px;
    background-color: var(--cor-principal);
    border: none;
    border-radius: 15px;
    margin-top: 15px;
}

#reservas__botao:hover{
    background-color: var(--cor-botao);
    color: var(--cor-secundaria);
}

#reservas__titulo{
    margin-top: 15px;

}

.area-sobre{
    display: flex;
    width: var(--largura-principal);
    margin:20px auto;
    justify-content: space-around;
}

.sobre{
    color: var(--cor-principal);
    width: 500px;
}

.sobre__foto{
    width: 500px;
}
.sobre__titulo{
    margin-top: 30px;
    font-size: 50px;
}
 .sobre__texto{
    margin-top: 30px;
    font-size: 30px;
 }

 .area-busca{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .catalogo-titulo{
    font-size: 50px;
    color:var(--cor-principal);
    margin-bottom: 50px;
 }

 .busca{
    display: flex;
    width: 764px;
    height: 40px;
    border: 3px solid var(--cor-principal);
    border-radius: 20px;
    padding: 5px;
    justify-content: center;
 }
 .busca__campo{
    flex: 1 ;
    border: none;
    outline: none;
    font-size: 25px;
 }

 .busca__botao{
    font-size: 30px;
    border: none;
    color: var(--cor-principal);
    background: none;
 }

 .bordados > a > img{
    width: 400px;
    border-radius: 20px;
 }

 .bordados{
    text-align: center;
    color:var(--cor-principal);
 }

 .catalogo{
    margin:100px  auto;
    width: var(--largura-principal);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
 }