
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{ 
       margin: 0;
       padding: 0;

}

 header{
    background-color: #3B929C;
    width: 100%;
    height: 110px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #FFFFFF;
    padding: 10px;
    border-radius: 0px 20px;

}
a:hover{
    background-color: #FFFFFF;
    color: #3B929C;

}

.icones {
    padding: 10px 50px;

}
.logo{
    border-radius: ;
}
